[submodule "p4lang_tutorials"]
	path = p4lang_tutorials
	url = git@github.com:p4lang/tutorials.git
[submodule "p4lang_behavioral_model"]
	path = p4lang_behavioral_model
	url = git@github.com:p4lang/behavioral-model.git
[submodule "p4lang_ptf"]
	path = p4lang_ptf
	url = git@github.com:p4lang/ptf.git
[submodule "p4lang_p4runtime_shell"]
	path = p4lang_p4runtime_shell
	url = git@github.com:p4lang/p4runtime-shell.git
