[submodule "p4lang_tutorials"]
	path = p4lang_tutorials
	url = git@github.com:p4lang/tutorials.git
[submodule "p4lang_behavioral_model"]
	path = p4lang_behavioral_model
	url = git@github.com:p4lang/behavioral-model.git
